@{
    ViewBag.Title = StringResources.Error_VBT;
    ViewBag.BackgroundClass = "background-image-user-agreement";
}

<div>
    <div>
        <div class="left-title">@ViewBag.Title</div>
    </div>

    <div class="view-content-container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@StringResources.Error_Processing_txt</h2>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/App/UserAgreement.js"></script>