<div>
    <h3 class="text-center font-weight-bold">New York City Language Preference Accommodations</h3>
    <p>Effective Date: June 2020</p>
    <div>
        <p>NYC Residents - Language Preference Accommodations: You may request a translation of certain communications into a language other than English. In addition, a translation and description of commonly-used debt collection terms is available in multiple languages on the NYC Department of Consumer Affairs website, <a href="http://www.nyc.gov/dca">www.nyc.gov/dca</a>.</p>
    </div>
</div>
