<div>
    <h3 class="text-center font-weight-bold">Política de privacidad de GC Services</h3>
    <p>Fecha de entrada en vigencia: Enero de 2020</p>
    <div>
        <p>En GC Services, nos comprometemos a salvaguardar la privacidad y la seguridad de su información personal. Queremos que sepa cómo podemos recolectar, usar, compartir y conservar información sobre usted y qué pasos tomamos para garantizar que su privacidad y seguridad estén protegidas. Esta Política de privacidad se aplica a la información personal recolectada por GC Services, tanto en los sitios web de GC Services como fuera de línea, de acuerdo con los términos descritos a continuación.</p>
        <p>A los fines de esta Política de privacidad, información personal significa información que directa o indirectamente identifica un individuo en particular, tales como nombre, dirección de correo, dirección de correo electrónico, número de teléfono, número de seguridad social y otra información identificable. Cuando otra información no identificable es directa o indirectamente asociada con información personal, la combinación resultante de información también se trata como información personal.</p>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>RECOLECCIÓN</u></h4>
        <h4 class="font-weight-bold">Métodos utilizados para recolectar su información personal:</h4>
        <ul>
            <li>Usted puede proporcionarnos información personal directamente ya sea por teléfono o por escrito (incluso de forma electrónica).</li>
            <li>Alguno de nuestros clientes puede proporcionarnos su información personal.</li>
            <li>Alguno de nuestros proveedores de servicios de confianza puede proporcionarnos su información personal.</li>
        </ul>
        <p>También podemos reunir información personal sobre usted en línea si:</p>
        <ul>
            <li>Visita o usa nuestros sitios web o aplicaciones, incluso a través del uso de tecnologías como cookies,</li>
            <li>Recibe o responde comunicaciones electrónicas que nosotros le enviamos,</li>
            <li>Envía formularios electrónicamente, o bien,</li>
            <li>Se registra, inicia sesión o hace cambios en la información de su cuenta.</li>
        </ul>
        <p>Es posible que se combine la información personal recolectada sobre usted en línea o de otras maneras.  Se podrá utilizar, compartir y conservar toda información según se describe a continuación.  Se utilizará, compartirá y guardará la información de la misma manera como si la información personal no hubiera sido combinada.</p>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>USO</u></h4>
        <h4 class="font-weight-bold">GC Services puede usar su información personal de las siguientes maneras:</h4>
        <ul>
            <li>Para dar servicio y administrar sus cuentas, incluso dar respuesta o actualizar sus preguntas o contactarlo acerca de sus cuentas;</li>
            <li>Para verificar su identidad para admitir el acceso a sus cuentas, ayudarnos a tomar precauciones de seguridad de datos y participar en la prevención/detección de fraudes;</li>
            <li>Para permitirle usar herramientas en línea o realizar ciertas transacciones en línea;</li>
            <li>Para cumplir con las leyes federales, estatales o locales; investigaciones civiles, penales o reglamentarias u otros requisitos legales; y</li>
            <li>Para fines comerciales, incluidos propósitos de empleo y beneficios; análisis de datos; para mejorar, personalizar y optimizar la navegación de su sitio web y las experiencias de las aplicaciones móviles; y para mejorar o desarrollar nuevos productos y servicios existentes.</li>
        </ul>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>COMPARTIR</u></h4>
        <h4 class="font-weight-bold">GC Services solo compartirá su información personal, en circunstancias limitadas, según lo requiera o lo permita la ley, con:</h4>
        <ul>
            <li>Nuestros clientes;</li>
            <li>Nuestras empresas afiliadas, subsidiarias, propietarios, abogados, auditores y otros agentes designados;</li>
            <li>Agencias de informes de crédito e instituciones similares para informar o consultar acerca de sus circunstancias financieras, como parte de un proceso de verificación de antecedentes o de crédito, o para informar o cobrar deudas que están a su nombre;</li>
            <li>Autoridades reguladoras, tribunales y agencias gubernamentales para cumplir con las órdenes legales, los requisitos legales o reguladores y las solicitudes del gobierno;</li>
            <li>Nuestros proveedores de servicios, autoridades reguladoras y agencias gubernamentales para detectar y prevenir fraudes o actividades delictivas, y para proteger los derechos de los demás;</li>
            <li>Proveedores que nos prestan servicios y nos ayudan a operar nuestro negocio (exigimos que los proveedores de servicios salvaguarden su información personal y solo utilicen su información personal para los fines y de la manera que nosotros especificamos).</li>
        </ul>

        <h4 class="font-weight-bold"><u>CONSERVACIÓN</u></h4>
        <h4 class="font-weight-bold">Se conservará y se protegerá su información personal.</h4>
        <p>GC Services protege su información personal contra el acceso, el uso o la divulgación no autorizados mediante medidas de seguridad tanto lógicas como físicas.  GC Services protege la información en servidores informáticos en un entorno controlado y seguro, protegido contra el acceso, el uso o la divulgación no autorizados. Cuando su información personal se transmite electrónicamente, se protege mediante el uso de la encriptación. Solo conservaremos su información personal el tiempo que sea necesario para poder prestar nuestros servicios, a menos que la ley o las reglamentaciones o los litigios e investigaciones reglamentarias nos exijan conservarla durante más tiempo. Una vez que su información personal ya no es necesaria, tomamos las medidas razonables para destruir de forma segura o eliminar los datos que hagan que la información sea identificable.</p>

        <h4 class="font-weight-bold">Uso de las cookies</h4>
        <p>Los sitios web de GC Services utilizan "cookies de inicio de sesión" para personalizar su experiencia en línea. Las cookies de inicio de sesión se utilizan para asegurar que sea reconocido cuando navega de una página a otra dentro de nuestro sitio web y permitir que la información que ingrese sea recordada durante su visita al sitio.  Nosotros no almacenamos las "cookies de inicio de sesión" y se eliminan cuando cierra la sesión o después de un período de inactividad.</p>

        <h4 class="font-weight-bold">Registro en línea</h4>
        <p>Debido a que no realizamos un seguimiento de los usuarios de nuestro sitio a lo largo del tiempo y a través de los sitios web de terceros, no respondemos a las señales de "no seguimiento" del navegador.</p>

        <h4 class="font-weight-bold">Cambios a esta Política</h4>
        <p>GC Services ocasionalmente actualizará esta Política de privacidad para reflejar cambios en la ley y la política de la empresa. GC Services lo alienta a revisar periódicamente esta Política de privacidad para estar informado de cómo GC Services protege su información personal.</p>

        <h4 class="font-weight-bold">Complemento SOLO para los residentes de California.</h4>
        <p>Este <b>Aviso de privacidad para residentes de California</b> (Privacy Notice for California Residents, PNCR) complementa la información incluida en la Política de Privacidad de GC Services y se aplica únicamente a los individuos que residen en el estado de California ("individuos" o "usted"). Este aviso tiene como fin cumplir con la Ley de Privacidad del Consumidor de California (California Consumer Privacy Act, CCPA) de 2018 y todos los términos definidos en la CCPA tienen el mismo significado cuando se usan en este aviso.</p>
        <p>El propósito de este PNCR es proporcionar a los residentes de California una descripción de las prácticas en línea y fuera de línea de GC Services con respecto a la recopilación, el uso, la divulgación y venta de información personal y de los derechos de los consumidores de California con respecto a su información personal.</p>
        <p>Las categorías específicas de información personal que podemos haber recopilado sobre usted dependen de diversos factores, incluidas, entre otros, las circunstancias por las cuales podemos haber estado en contacto con usted.  Generalmente, es probable que hayamos recopilado información personal sobre individuos que son nuestros empleados, solicitantes de empleo, clientes potenciales, clientes de nuestros clientes, individuos que podrían proporcionar información de ubicación para los clientes de nuestros clientes, o individuos que han visitado nuestros sitios web.  Por consiguiente, es posible que en los doce (12) meses anteriores, GC Services haya recopilado las siguientes categorías de información personal sobre usted, según corresponda:</p>
        <ul>
            <li>Identificadores como un nombre real, alias, dirección postal, identificador personal único, identificador en línea de dirección de IP, dirección de correo electrónico, nombre de cuenta, número de seguro social, número de licencia de conducir, número de pasaporte u otros identificadores similares;</li>
            <li>Información personal, incluidos, entre otros, firma, características físicas o descripción, dirección, número de teléfono, número de pasaporte, número de licencia de conducir o de tarjeta de identificación estatal, número de póliza de seguro, educación, empleo, historial de empleo, número de cuenta bancaria, número de tarjeta de crédito, número de tarjeta de débito o cualquier otra información financiera, información médica o información de seguro médico;</li>
            <li>Características de las clasificaciones protegidas en virtud de la ley de California o la ley federal;</li>
            <li>Información comercial, incluidos registros de propiedad personal, productos o servicios comprados, obtenidos o considerados, u otras historias o tendencias de compra o consumo;</li>
            <li>Información biométrica;</li>
            <li>Información de actividades en Internet u otras redes electrónicas, incluidos, entre otros, el historial de navegación, el historial de búsqueda y la información relativa a la interacción del consumidor con un sitio web, una aplicación o un anuncio;</li>
            <li>Datos de geolocalización;</li>
            <li>Información de audio, electrónica, visual o similar;</li>
            <li>Información profesional o relacionada con el empleo;</li>
            <li>Información de educación; o</li>
            <li>Inferencias obtenidas de cualquier información identificada anteriormente para crear un perfil sobre un consumidor que refleje sus preferencias, características, tendencias psicológicas, preferencias, predisposiciones, comportamiento, actitudes, inteligencia, habilidades y aptitudes.</li>
        </ul>
        <p>Si corresponde, GC Services habrá recopilado, utilizado y compartido estas categorías de información personal de acuerdo con la política de privacidad general de GC Services, según se describe anteriormente.</p>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>Sus derechos en virtud de la CCPA</u></h4>
        <p>En esta sección, se describen sus derechos en virtud de la CCPA y se explica cómo ejercerlos. Tenga en cuenta que esta sección no se aplica a la información personal relacionada con el empleo que se recopila de los empleados, solicitantes de empleo, contratistas o personas similares de California.</p>
        <p>Para poder ejercer sus derechos en virtud de la CCPA, usted debe presentar una solicitud de consumidor verificable. Los pasos para presentar una solicitud de consumidor verificable se proporcionan a continuación en la sección titulada <span class="font-weight-bold">Presentación de una solicitud en virtud de la CCPA.</span></p>

        <div>
            <ul class="li-symbol">
                <li><i>Derecho a saber acerca de la información personal que recolectamos, divulgamos, etc.</i></li>
            </ul>
            <p>Usted tiene el derecho de solicitar que GC Services le revele cierta información acerca de la recopilación y el uso de su información personal durante los últimos 12 meses. Una vez que recibamos y confirmemos su solicitud de consumidor verificable, le informaremos:</p>
            <ul>
                <li>Las categorías de información personal que hemos recopilado sobre usted.</li>
                <li>Las categorías de fuentes para la información personal que hemos recopilado sobre usted.</li>
                <li>Nuestros negocios u objetivos comerciales para recolectar esa información personal.</li>
                <li>Las categorías de terceros con quienes compartimos su información personal.</li>
                <li>Los negocios u objetivos comerciales para los que hemos divulgado la categoría de información personal.</li>
            </ul>
        </div>

        <div>
            <ul class="li-symbol">
                <li><i>Venta de información personal</i></li>
            </ul>
            <p>GC Services no participa en la venta de información personal.</p>
        </div>

        <div>
            <ul class="li-symbol">
                <li><i>Derecho a solicitar la eliminación de la información personal</i></li>
            </ul>
            <p>Usted tiene el derecho de solicitar que GC Services elimine cualquier información personal que hayamos recopilado y retenido, sujeto a ciertas excepciones. Una vez que recibamos y confirmemos su solicitud de consumidor verificable, eliminaremos (y ordenaremos a nuestros proveedores de servicios que eliminen) su información personal de nuestros registros, a menos que se aplique una excepción.</p>
            <p>Podemos denegar su solicitud de eliminación si es necesario que retengamos la información para nosotros o para nuestros proveedores de servicios para:</p>
            <ol>
                <li>Completar la transacción para la que hemos recogido la información personal, proporcionar un servicio que usted haya solicitado, tomar medidas razonablemente anticipadas dentro del contexto de nuestra relación comercial en curso con usted, o cumplir de otra manera su contrato con nuestro cliente.</li>
                <li>Detectar incidentes de seguridad, proteger contra actividades maliciosas, engañosas, fraudulentas o ilegales, o procesar a los responsables de tales actividades.</li>
                <li>Depurar productos para identificar y reparar errores que perjudiquen la funcionalidad existente prevista.</li>
                <li>Ejercer la libertad de expresión, asegurar el derecho de otro consumidor a ejercer sus derechos de libertad de expresión, o ejercer otro derecho previsto por la ley.</li>
                <li>Cumplir con la Ley de Privacidad de Comunicaciones Electrónicas de California (Código Penal de California § 1546 et. seq.).</li>
                <li>Habilitar únicamente los usos internos que estén razonablemente alineados con las expectativas del consumidor basadas en su relación con nosotros o nuestros clientes.</li>
                <li>Cumplir con una obligación legal.</li>
                <li>Hacer otros usos internos y legales de esa información que sean compatibles con el contexto en el que usted la proporcionó.</li>
            </ol>
        </div>

        <p>GC Services no discrimina a consumidores que ejercitan sus derechos proporcionados por la CCPA.</p>

        <div>
            <h4 class="font-weight-bold"><b>Presentación de una solicitud en virtud de la CCPA</b></h4>
            <p>Para ejercer sus derechos descritos anteriormente, deberá presentar una solicitud de consumidor verificable.  Ofrecemos dos (2) métodos para presentar su solicitud:</p>
            <ul>
                <li>Puede llamarnos al 888-240-0097; o</li>
                <li><a href='@ViewBag.ContactUsRequestCacpaUrl'>Puede hacer clic en este enlace para enviar un formulario en línea.</a></li>
            </ul>
            <p>Solo usted, o una persona registrada en la Secretaría del Estado de California que usted autorice para actuar en su nombre, puede hacer una solicitud de consumidor verificable relacionada con su información personal. También puede hacer una solicitud de consumidor verificable en nombre de un hijo menor de edad.</p>
            <p>Solo puede hacer una solicitud de consumidor verificable dos veces en un período de 12 meses. La solicitud de consumidor verificable debe:</p>
            <ul>
                <li>Proporcionar suficiente información que nos permita verificar razonablemente que usted es la persona sobre la que hemos recopilado información personal o un representante autorizado; y</li>
                <li>Describir su solicitud con suficiente detalle que nos permita comprenderla, evaluarla y responderla adecuadamente.</li>
            </ul>
            <p>No podremos responder a una solicitud, o proporcionarle información personal, si no podemos verificar su identidad o autoridad para hacer la solicitud y confirmar la información personal relacionada con usted.  El tipo de información necesaria para verificar su identidad depende de las circunstancias por las cuales podemos haber estado en contacto con usted.  Sin embargo, en general y para la mayoría de los individuos, es probable que su nombre, dirección, número de teléfono y número de cuenta de CG sean necesarios para que podamos verificar su identidad.</p>
            <p>Solo utilizaremos la información personal proporcionada en una solicitud de consumidor verificable para comprobar la identidad del solicitante o la autoridad para hacer la solicitud.</p>

            <div>
                <h5><u><i>Tiempo y formato de respuesta</i></u></h5>
                <p>Responderemos a una solicitud de consumidor verificable dentro de los cuarenta y cinco (45) días siguientes a su recepción. Si necesitamos más tiempo (hasta 90 días), le informaremos la razón y el período de extensión por escrito.</p>
                <p>Le entregaremos nuestra respuesta escrita por correo o electrónicamente, según su elección.</p>
                <p>Nuestra respuesta a una solicitud de consumidor verificable solo cubrirá el período de 12 meses anterior a la recepción de la solicitud del consumidor verificable.</p>
                <p>Si no podemos cumplir con una solicitud, proporcionaremos una respuesta que explique las razones por las cuales no podemos cumplir con una solicitud, si corresponde.</p>
            </div>

            <div>
                <h5><u><i>Cambios a nuestro Aviso de privacidad</i></u></h5>
                <p>GC Services se reserva el derecho de enmendar este <b>Aviso de privacidad para los residentes de California</b> a nuestra discreción y en cualquier momento. Cuando hagamos cambios a este Aviso de privacidad, publicaremos el aviso actualizado en nuestros sitios web y actualizaremos la fecha de vigencia del aviso de privacidad.</p>
            </div>
        </div>

        <div>
            <h4><b>Contacto para Más información:</b></h4>
            <p>Si tiene preguntas o inquietudes acerca de las políticas o prácticas de privacidad de GC Services, o del Aviso de privacidad para residentes de California, puede:</p>
            <ul>
                <li>llamarnos al 888-240-0097; o</li>
                <li><a href='@ViewBag.ContactUsRequestCacpaUrl'>hacer clic en este enlace para enviar un formulario en línea.</a></li>
            </ul>
        </div>
    </div>
</div>
