<div>
    <h3 class="text-center font-weight-bold">GC Services’ Privacy Policy</h3>
    <p>Effective Date: January 2020</p>
    <div>
        <p>At GC Services, we are committed to safeguarding the privacy and security of your personal information. We want you to know how we may collect, use, share, and keep information about you and the steps we take to ensure your privacy and security are protected. This Privacy Policy applies to your personal information collected by GC Services, both through GC Services’ websites and offline, in accordance with the terms described below.</p>
        <p>For purposes of this Privacy Policy, personal information means information that directly or indirectly identifies a particular individual, such as the name, mailing address, email address, telephone number, social security number, and other identifiable information. When otherwise non-identifiable information is directly or indirectly associated with personal information, the resulting combination of information is also treated as personal information.</p>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>COLLECT</u></h4>
        <h4 class="font-weight-bold">Methods Used to Collect Your Personal Information:</h4>
        <ul>
            <li>You may provide personal information directly to us either over the phone or in writing (including electronically);</li>
            <li>Your personal information may be shared with us through one of our clients;</li>
            <li>Your personal information may be supplied to us by one of our trusted service providers.</li>
        </ul>
        <p>We may also gather personal information about you online if you:</p>
        <ul>
            <li>Visit or use our website(s) or applications, including through the use of technologies such as cookies;</li>
            <li>Receive or reply to electronic communications from us;</li>
            <li>Submit forms to us electronically; or</li>
            <li>Register, log into, or make changes to your account information.</li>
        </ul>
        <p>Personal information collected about you online and in other ways may be combined.  Any combined information may be used, shared, and kept as described below.  Combined information will be used, shared, and kept in the same manner as if the personal information had not been combined.</p>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>USE</u></h4>
        <h4 class="font-weight-bold">GC Services may use your personal information in the following ways:</h4>
        <ul>
            <li>To service and manage your accounts, including responding or updating you on your inquiries or contacting you about your accounts;</li>
            <li>To verify your identity to allow access to your accounts, assist us in taking data security precautions, and to engage in fraud prevention/detection;</li>
            <li>To enable you to use online tools or perform certain online transactions;</li>
            <li>To comply with federal, state, or local laws; civil, criminal or regulatory investigations; or other legal requirements; and</li>
            <li>For business purposes, including employment and benefits purposes; data analysis; to improve, personalize, and optimize your website browsing and mobile application experiences; and to improve existing or develop new products and services.</li>
        </ul>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>SHARE</u></h4>
        <h4 class="font-weight-bold">GC Services will only share your personal information, in limited circumstances, as required or as permitted by law, with:</h4>
        <ul>
            <li>Our clients;</li>
            <li>Our affiliates, subsidiaries, owners, attorneys, auditors, and other designated agents;</li>
            <li>Credit Reporting Agencies and similar institutions to report or ask about your financial circumstances, as part of a background or credit check process, or to report or collect debts you owe;</li>
            <li>Regulatory authorities, courts, and governmental agencies to comply with legal orders, legal or regulatory requirements, and government requests;</li>
            <li>Our service providers, regulatory authorities, and governmental agencies to detect and prevent fraud or criminal activity, and to protect the rights of others;</li>
            <li>Our service providers who perform services for us and help us operate our business (we require service providers to safeguard your personal information and only use your personal information for the purposes and in the manner we specify).</li>
        </ul>

        <h4 class="font-weight-bold"><u>KEEP</u></h4>
        <h4 class="font-weight-bold">Your personal information will be maintained and secured.</h4>
        <p>GC Services secures your personal information from unauthorized access, use, or disclosure using both logical and physical security measures.  GC Services secures your information on computer servers in a controlled, secure environment, protected from unauthorized access, use, or disclosure. When your personal information is transmitted electronically, it is protected through the use of encryption. We will keep your personal information only as long as we must in order to provide our services, unless we are required by law or regulation or for litigation and regulatory investigations to keep it longer. Once your personal information is no longer needed, we take reasonable steps to securely destroy or permanently de-identify your personal information.</p>

        <h4 class="font-weight-bold">Use of Cookies</h4>
        <p>The GC Services websites use "session cookies" to help personalize your online experience. Session cookies are used to ensure that you are recognized when you move from page to page within our website and allow information you enter to be remembered during your site visit.  Session cookies are not stored by us and are deleted when your session closes or after a period of inactivity.</p>

        <h4 class="font-weight-bold">Online Tracking</h4>
        <p>Because we do not track our site users over time and across third-party websites, we do not respond to browser do-no-track signals.</p>

        <h4 class="font-weight-bold">Changes to this Policy</h4>
        <p>GC Services will occasionally update this Privacy Policy to reflect changes in the law and company policy. GC Services encourages you to periodically review this Privacy Policy to be informed of how GC Services is protecting your personal information.</p>

        <h4 class="font-weight-bold">Supplement For California Residents ONLY.</h4>
        <p>This <b>Privacy Notice for California Residents</b> (“PNCR”) supplements the information contained in GC Services’ Privacy Policy and applies solely to individuals who reside in the State of California ("individuals" or "you"). We adopt this notice to comply with the California Consumer Privacy Act of 2018 (CCPA) and any terms defined in the CCPA have the same meaning when used in this notice.</p>
        <p>The purpose of this PNCR is to provide California residents with a description of GC Services’ online and offline practices regarding the collection, use, disclosure, and sale of personal information and of the rights of California consumers regarding their personal information.</p>
        <p>The specific categories of personal information we may have collected about you is dependent on a variety of factors including, but not limited to, the circumstances surrounding why we may have been in contact with you.  Generally, we may have collected personal information about individuals who are our employees, job applicants, prospective clients, customers of our clients, individuals who may be able to provide location information for customers of our clients, or individuals who have visited our website(s).  Accordingly, in the preceding twelve (12) months, GC Services may have collected the following categories of personal information about you, as applicable:</p>
        <ul>
            <li>Identifiers such as a real name, alias, postal address, unique personal identifier, online identifier Internet Protocol address, email address, account name, social security number, driver’s license number, passport number, or other similar identifiers;</li>
            <li>Personal information, including but not limited to, signature, physical characteristics or description, address, telephone number, passport number, driver's license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information;</li>
            <li>Characteristics of protected classifications under California or federal law;</li>
            <li>Commercial information, including records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies;</li>
            <li>Biometric information;</li>
            <li>Internet or other electronic network activity information, including, but not limited to, browsing history, search history, and information regarding a consumer’s interaction with an Internet Web site, application, or advertisement;</li>
            <li>Geolocation data;</li>
            <li>Audio, electronic, visual, or similar information;</li>
            <li>Professional or employment-related information;</li>
            <li>Education information; and/or</li>
            <li>Inferences drawn from any of the information identified above to create a profile about a consumer reflecting the consumer’s preferences, characteristics, psychological trends, preferences, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</li>
        </ul>
        <p>If applicable, GC Services collected, utilized, and shared these categories of personal information in accordance with GC Services’ general Privacy Policy, as described above.</p>
    </div>

    <div>
        <h4 class="font-weight-bold"><u>Your Rights Under the CCPA</u></h4>
        <p>This section describes your rights under the CCPA and explains how to exercise those rights. Please note this section does not apply to employment-related personal information collected from California-based employees, job applicants, contractors, or similar individuals.</p>
        <p>In order to exercise your rights under the CCPA, you are required to submit a verifiable consumer request. The steps for submitting a verifiable consumer request are provided below in the section titled <span class="font-weight-bold">Submitting a Request Under the CCPA.</span></p>

        <div>
            <ul class="li-symbol">
                <li><i>Right to Know About Personal Information We Collect, Disclose, Etc.</i></li>
            </ul>
            <p>You have the right to request that GC Services disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:</p>
            <ul>
                <li>The categories of personal information we collected about you.</li>
                <li>The categories of sources for the personal information we collected about you.</li>
                <li>Our business or commercial purpose for collecting that personal information.</li>
                <li>The categories of third parties with whom we share your personal information.</li>
                <li>The business or commercial purpose for which we disclosed the category of personal information.</li>
            </ul>
        </div>

        <div>
            <ul class="li-symbol">
                <li><i>Sale of Personal Information</i></li>
            </ul>
            <p>GC Services does not engage in the sale of personal information.</p>
        </div>

        <div>
            <ul class="li-symbol">
                <li><i>Right to Request Deletion of Personal Information</i></li>
            </ul>
            <p>You have the right to request that GC Services delete any of your personal information that we collected and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request, we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies.</p>
            <p>We may deny your deletion request if retaining the information is necessary for us or our service provider(s) to:</p>
            <ol>
                <li>Complete the transaction for which we collected the personal information, provide a service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform your contract with our client.</li>
                <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities.</li>
                <li>Debug products to identify and repair errors that impair existing intended functionality.</li>
                <li>Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</li>
                <li>Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 et. seq.).</li>
                <li>Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us and/or our clients.</li>
                <li>Comply with a legal obligation.</li>
                <li>Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</li>
            </ol>
        </div>

        <p>GC Services does not discriminate against consumers who exercise their rights provided by the CCPA.</p>

        <div>
            <h4 class="font-weight-bold"><b>Submitting a Request Under the CCPA</b></h4>
            <p>To exercise your rights described above, you will need to submit a verifiable consumer request.  We offer two (2) methods to submit your request:</p>
            <ul>
                <li>You can give us a call at 888-240-0097; or</li>
                <li><a href='@ViewBag.ContactUsRequestCacpaUrl'>Click on this link to submit online form.</a></li>
            </ul>
            <p>Only you, or a person registered with the California Secretary of State that you authorize to act on your behalf, may make a verifiable consumer request related to your personal information. You may also make a verifiable consumer request on behalf of your minor child.</p>
            <p>You may only make a verifiable consumer request twice within a 12-month period. The verifiable consumer request must:</p>
            <ul>
                <li>Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative; and</li>
                <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>
            </ul>
            <p>We will be unable to respond to a request, or provide you with personal information, if we cannot verify your identity or authority to make the request and confirm the personal information relates to you.  The type of information needed to verify your identity is dependent on the circumstances surrounding why we may have been in contact with you.  Generally and for most individuals, however, your name, address, phone number, and your GC account number will likely be necessary for us to verify your identity.</p>
            <p>We will only use personal information provided in a verifiable consumer request to verify the requestor's identity or authority to make the request.</p>

            <div>
                <h5><u><i>Response Timing and Format</i></u></h5>
                <p>We will respond to a verifiable consumer request within forty-five (45) days of its receipt. If we require more time (up to 90 days), we will inform you of the reason and extension period in writing.</p>
                <p>We will deliver our written response to you by mail or electronically, at your option.</p>
                <p>Our response to a verifiable consumer request will only cover the 12-month period preceding our receipt of your verifiable consumer request.</p>
                <p>If we are unable to comply with a request, we will provide a response which explains the reason(s) we are unable to comply with a request, if applicable.</p>
            </div>

            <div>
                <h5><u><i>Changes to Our Privacy Notice</i></u></h5>
                <p>GC Services reserves the right to amend this <b>Privacy Notice for California Residents</b> at our discretion and at any time. When we make changes to this privacy notice, we will post the updated notice on our website(s) and update the Privacy Notice's effective date.</p>
            </div>
        </div>

        <div>
            <h4><b>Contact for More Information:</b></h4>
            <p>If you have questions or concerns about GC Services Privacy Policies or practices, or the Privacy Notice for California Residents, you can contact us at:</p>
            <ul>
                <li>888-240-0097; or</li>
                <li><a href='@ViewBag.ContactUsRequestCacpaUrl'>Click on this link to submit online form.</a></li>
            </ul>
        </div>
    </div>
</div>
