@page "/about-us"

<h3>About Us</h3>

<p>
    Welcome to our advanced website! We strive to deliver the best user experience and innovative solutions to our clients.
</p>

<div class="about-details">
    <h4>Our Vision</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque est eget ipsum luctus, nec aliquet quam dictum.
    </p>

    <h4>Our Mission</h4>
    <p>
        Phasellus bibendum erat ut feugiat tincidunt. Etiam consequat vestibulum urna, eu lacinia magna efficitur id.
    </p>

    <h4>Our Team</h4>
    <ul>
        <li>John Doe - CEO</li>
        <li>Jane Smith - COO</li>
        <li>Mike Johnson - CTO</li>
    </ul>
</div>
